---
import BaseLayout from "@/layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout title="Cristopher Yates">
  <div class="flex min-h-screen w-full flex-col items-center justify-center">
    <h1
      class="scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance"
    >
      Work in progress...
    </h1>
  </div>
</BaseLayout>
