<header class="mb-32 inline-block">
  <a
    class="flex flex-col items-start no-underline"
    href="/"
    aria-label="Go to homepage"
  >
    <span class="text-medium font-medium">Cristopher Yates</span>
    <span class="text-medium text-muted-foreground leading-none font-medium">
      Software Developer
    </span>
  </a>
</header>
