---
import Header from "@/components/Header.astro";
import BaseLayout from "./BaseLayout.astro";
import Footer from "@/components/Footer.astro";
const { title, description, currentEntry } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="flex min-h-screen w-full flex-col items-center justify-start">
    <div
      class="h-full min-h-screen w-full max-w-2xl flex-col items-start justify-start px-6 py-12 sm:py-32 md:py-16"
    >
      <Header />
      <slot />
      <Footer currentEntry={currentEntry} />
    </div>
  </div>
</BaseLayout>
